@import "../../App.scss";
.span {
	margin-top: 1rem;
	.login {
		font-size: 14px;
		color: $darkblue;
		margin-left: 2px;
	}
}
.error {
	align-self: center;
	font-size: small;
	color: red;
	font-weight: bold;
	opacity: 0;
	margin: 10px 0px;
	transform: translateX(20px);
	animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}
	25% {
		opacity: 0.5;
		transform: translateX(30px);
	}
	50% {
		opacity: 0.5;
		transform: translateX(-30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
